.top-buffer {
  margin-top: 20px;
}

.btn-contact-seller {
  border-color: forestgreen;
  background-color: forestgreen;
  color: white;
  font-size: 20px;
}

.light-green-backdrop {
  background-color: #D5F5E3;
}

