<div class="modal-header">
  <h4 class="modal-title">Contact Seller</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body form-group">
  <div class="row top-buffer ">
    <div class="col-12 px-lg-5 col-sm-6"><input class="form-control" type="text" [(ngModel)]="user.firstName"
                                                placeholder="First Name" disabled/></div>
    <div class="col-12 px-lg-5 col-sm-6"><input class="form-control" type="text" [(ngModel)]="user.lastName" placeholder="Last Name" disabled/></div>
  </div>
  <div class="row top-buffer ">
    <div class="col-12 px-lg-5 col-sm-6"><input class="form-control" type="text" [(ngModel)]="user.email"
                                                placeholder="Email" disabled/></div>
    <div class="col-12 px-lg-5 col-sm-6"><input class="form-control" type="text" [(ngModel)]="user.phone" placeholder="Phone" disabled/></div>
  </div>
  <div class="row top-buffer">
    <div class="col-12 px-lg-5 col-sm-12"><textarea class="form-control" id="txtBody" [(ngModel)]="this.sendMailObject.mailContent" rows="3"></textarea></div>
  </div>
  <div class="row top-buffer">
    <div class="col-12 px-lg-5 col-sm-12">
      <button class="btn btn-block wbdv-btn-contact btn-contact-seller" (click)="onContactSeller()" type="button">
        Contact Seller
      </button>
    </div>
  </div>
</div>
