<div class="container-fluid">
<app-header></app-header>
</div>
<div class="container">
  <h3 class="text-center">Privacy Policy</h3>
  <p>
  At HouseHunters, we appreciate your use of and contributions to our Website (submitted properties for sales) and features (known as the "services" of contacting the property owner). HouseHunters respects your privacy and is committed to protecting your personal information.
  This is our privacy policy and we will comply with it, as well as applicable U.S. privacy law, when we gather and use information from users of our services. We encourage you to read this privacy policy to understand what we do with the information we collect from you.
  We pledge to be transparent about the information we monitor and collect from you. We keep information private between you and HouseHunters, except as explained below.
  </p>
  <p class="font-weight-bold">Collection of Information</p>
  <p>When you use HouseHunters’ Website, we collect a variety of information.</p>
  <ul>
    <li>  <b>Information you provide:</b>  When using our Website and services, you may provide information about yourself, such as name, address, phone number and e-mail. This may occur when you register on HouseHunters or buy a home.</li>
    <br/>
    <li>  <b>Cookies:</b> Cookies are bits of electronic information that can be transferred to a computer to uniquely identify that computer's browser. When you visit our Website and use our services, we may place one or more cookies on your computer. The use of cookies helps us improve the quality of our services to you, by identifying information which is most interesting to you, tracking trends, or storing information you may want to retrieve on a regular basis, such as your favourite homes. At any time, you may adjust settings on your browser to refuse cookies. However, if you choose to disable cookies, many of the free features and services on HouseHunters will not operate properly.
  </li>
  </ul>
  <p>
  </p>
  <p class="font-weight-bold">
  Usage and Disclosure
  </p>
  <p>
  In general, HouseHunters uses the information collected from you to communicate with you and operate our features and services. Your privacy is important and we are committed to protecting information that identifies you personally, where you have chosen to keep it private. We will only share personal information that you provide outside the public areas of our services in the following circumstances:
  </p>
  <ul>
    <li><b>Consent:</b> When you consent or direct HouseHunters to share the information. For example, if you choose to contact a real estate agent or lender through HouseHunters, your name and e-mail address will appear to the recipient of the message.
    </li>
    <br/>
    <li>
      <b>Legal obligation or protection from harm:</b> When HouseHunters has a good faith belief that access, use, preservation or disclosure of the personal information is reasonably necessary to (a) satisfy any requirement of law, regulation, legal process, or enforceable governmental request, (b) enforce or investigate a potential violation of the Terms of Use, (c) detect, prevent, or otherwise respond to fraud, security or technical concerns, or (d) protect the rights, property, or safety of HouseHunters, its users, or the public against harm
    </li>
  </ul>

  <p>
  When you provide public information without identifying yourself, we will protect your personal identity as described above. If your account profile does not identify you personally, HouseHunters won't reveal your identity to third parties except in accordance with this policy.
  </p>
  <p class="font-weight-bold">
  E-mail Management
  </p>
  <p>
  You may receive e-mails from HouseHunters for a variety of reasons - for example, if you took an action on the HouseHunters Website, you posted your home for sale and a buyer sent you a message. We respect your desire to manage e-mail correspondence. If you have an account with HouseHunters, you can select edit your email as per the profile, and manage your correspondence.
  </p>
  <p class="font-weight-bold">
  Location Data
  </p>
  <p>
  HouseHunters can provide you with helpful information based on where you are. If you tell us where you are (e.g., by allowing your mobile device/PC to send your location), we may use that information to provide you with location-based information and advertising. If you wish to deactivate this feature, you can disable location services on your mobile device/PC.
  </p>
  <p class="font-weight-bold">
  HouseHunters Buyers Website
  </p>
  <p>
  You understand that when you join HouseHunters Rentals, you will be added to the HouseHunters Buyers Directory, which is available to all HouseHunters Buyers users and which may be made publicly available. The directory information may include certain personal information you provide to us, such as your name, email and other contact information.
  </p>
  <p class="font-weight-bold">
  Storage and Security of Information
  </p>
  <p>
  Personal information will be processed and stored by HouseHunters in databases hosted in the United States. HouseHunters has taken reasonable steps to protect the information users share with us, including, but not limited to, setup of processes, equipment and software to avoid unauthorized access or disclosure of this information.
  </p>
  <p class="font-weight-bold">
  Contacting HouseHunter
  </p>
  <p>
  If you have any questions about this privacy statement, or the privacy practices of HouseHunters, please e-mail us at the.house.hunters.project@gmail.com. Please note that this policy may be amended from time to time. You should check back for the most current version before relying on any of the provisions in this privacy policy. — Updated April 2020
  </p>
</div>
